/shelf/Uncommitted_changes_before_Checkout_at_4_06_2023_1_20_pm_[Changes]/shelved.patch
/shelf/Uncommitted_changes_before_Checkout_at_14_07_2023_5_46_pm_[Changes]/shelved.patch
/shelf/Uncommitted_changes_before_Checkout_at_14_07_2023_5_46_pm_[Changes]1/shelved.patch
/shelf/Uncommitted_changes_before_Checkout_at_17_04_2023_5_54_pm_[Changes]/shelved.patch
/shelf/Uncommitted_changes_before_Checkout_at_17_04_2023_5_54_pm_[Changes]1/shelved.patch
/shelf/Uncommitted_changes_before_Checkout_at_21_07_2023_5_43_pm_[Changes]/shelved.patch
/shelf/Uncommitted_changes_before_Checkout_at_21_07_2023_9_50_pm_[Changes]/shelved.patch
/shelf/Uncommitted_changes_before_Checkout_at_21_07_2023_9_50_pm_[Changes]1/shelved.patch
/shelf/Uncommitted_changes_before_Checkout_at_24_06_2023_4_43_pm_[Changes]/shelved.patch
/shelf/Uncommitted_changes_before_Checkout_at_29_07_2023_1_13_pm_[Changes]/shelved.patch
/shelf/Uncommitted_changes_before_Checkout_at_29_07_2023_1_13_pm_[Changes]1/shelved.patch
/shelf/Uncommitted_changes_before_Checkout_at_29_07_2023_11_43_am_[Changes]/shelved.patch
/shelf/Uncommitted_changes_before_Checkout_at_29_07_2023_12_12_pm_[Changes]/shelved.patch
/shelf/Uncommitted_changes_before_Checkout_at_29_07_2023_12_12_pm_[Changes]1/shelved.patch
/shelf/Uncommitted_changes_before_Checkout_at_29_07_2023_12_13_pm_[Changes]/shelved.patch
/shelf/Uncommitted_changes_before_Checkout_at_4_06_2023_1_20_pm__Changes_.xml
/shelf/Uncommitted_changes_before_Checkout_at_14_07_2023_5_46_pm__Changes_.xml
/shelf/Uncommitted_changes_before_Checkout_at_17_04_2023_5_54_pm__Changes_.xml
/shelf/Uncommitted_changes_before_Checkout_at_21_07_2023_5_43_pm__Changes_.xml
/shelf/Uncommitted_changes_before_Checkout_at_21_07_2023_9_50_pm__Changes_.xml
/shelf/Uncommitted_changes_before_Checkout_at_24_06_2023_4_43_pm__Changes_.xml
/shelf/Uncommitted_changes_before_Checkout_at_29_07_2023_1_13_pm__Changes_.xml
/shelf/Uncommitted_changes_before_Checkout_at_29_07_2023_11_43_am__Changes_.xml
/shelf/Uncommitted_changes_before_Checkout_at_29_07_2023_12_12_pm__Changes_.xml
/shelf/Uncommitted_changes_before_Checkout_at_29_07_2023_12_13_pm__Changes_.xml
/workspace.xml
/shelf/Uncommitted_changes_before_Checkout_at_4_06_2023_1_20_pm_[Changes]/shelved.patch
/shelf/Uncommitted_changes_before_Checkout_at_14_07_2023_5_46_pm_[Changes]/shelved.patch
/shelf/Uncommitted_changes_before_Checkout_at_14_07_2023_5_46_pm_[Changes]1/shelved.patch
/shelf/Uncommitted_changes_before_Checkout_at_17_04_2023_5_54_pm_[Changes]/shelved.patch
/shelf/Uncommitted_changes_before_Checkout_at_17_04_2023_5_54_pm_[Changes]1/shelved.patch
/shelf/Uncommitted_changes_before_Checkout_at_21_07_2023_5_43_pm_[Changes]/shelved.patch
/shelf/Uncommitted_changes_before_Checkout_at_21_07_2023_9_50_pm_[Changes]/shelved.patch
/shelf/Uncommitted_changes_before_Checkout_at_21_07_2023_9_50_pm_[Changes]1/shelved.patch
/shelf/Uncommitted_changes_before_Checkout_at_24_06_2023_4_43_pm_[Changes]/shelved.patch
/shelf/Uncommitted_changes_before_Checkout_at_29_07_2023_1_13_pm_[Changes]/shelved.patch
/shelf/Uncommitted_changes_before_Checkout_at_29_07_2023_1_13_pm_[Changes]1/shelved.patch
/shelf/Uncommitted_changes_before_Checkout_at_29_07_2023_11_43_am_[Changes]/shelved.patch
/shelf/Uncommitted_changes_before_Checkout_at_29_07_2023_12_12_pm_[Changes]/shelved.patch
/shelf/Uncommitted_changes_before_Checkout_at_29_07_2023_12_12_pm_[Changes]1/shelved.patch
/shelf/Uncommitted_changes_before_Checkout_at_29_07_2023_12_13_pm_[Changes]/shelved.patch
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
